* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: black;
    color: white;
    height: 100%;
}

header {
    background-color: purple;
    text-align: center;
}

#searchCity {
    max-width: 200px;
}

#searchBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-color: #06AED5; */
    /* color: white; */
    padding: 0;
    margin: 0;
    width: 140%;
    max-width: 60px;
    height: 100%;
    max-height: 100px;
    border: 3px solid #555;
    border-radius: 5px;
    transition-duration: .60s;
    background:url("../images/sun.png");
    background-size: cover;
    background-position: center;
}

.card {
    background-color: purple;
}

#fiveDay {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forecast {
    display: flex;
    flex-direction: row space-between;
    align-items: space-between;
    margin-bottom: 60px;
}

li {
  list-style: none;
} 

#footer {
    text-align: center;
}