body {
    background-color: black;
    color: white;
}

#searchBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-color: #06AED5; */
    /* color: white; */
    padding: 0;
    margin: 0;
    width: 140%;
    max-width: 60px;
    height: 40px;
    max-height: 60px;
    /* text-align: center; */
    /* position: relative; */
    border: 3px solid #555;
    border-radius: 5px;
    transition-duration: .60s;
    /* background:url("../images/helloKitty-icon0.png"); */
    /* background-size: cover; */
}